<html ng-app="myApp"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
  </head><body ng-controller="myController">
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">
                  <strong>Property Details</strong>
                </h3>
              </div>
              <div class="panel-body">
                <div class="col-md-12">
                  <form class="form-horizontal" role="form">
                    <div class="form-group">
                      <div class="col-sm-2">
                        <label for="inputEmail3" class="control-label">Price, $</label>
                      </div>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="price" style="text-align: right;" ng-model="price" ng-init="price">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-2">
                        <label for="inputPassword3" class="control-label">Rent, $/month</label>
                      </div>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="rent" style="text-align: right;" ng-model="rent" ng-init="rent">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-2">
                        <label for="inputPassword3" class="control-label">Interest Rate, %</label>
                      </div>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="interest_rate" style="text-align: right;" ng-model="interest_rate" ng-init="interest_rate">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-2">
                        <label for="inputPassword3" class="control-label">Term, yr.</label>
                      </div>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="term" style="text-align: right;" ng-model="term" ng-init="term">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-2">
                        <label for="inputPassword3" class="control-label">Down Payment, $</label>
                      </div>
                      <div class="col-sm-10">
                        <input type="number" class="form-control" id="down_payment" style="text-align: right;" ng-model="down_payment" ng-init="down_payment">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-2">
                        <label for="inputPassword3" class="control-label">Closing Cost, %</label>
                      </div>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="closing_cost" style="text-align: right;" ng-model="closing_cost" ng-init="closing_cost">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-2">
                        <label for="inputPassword3" class="control-label">Tax, %</label>
                      </div>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="tax_rate" style="text-align: right;" ng-model="tax_rate" ng-init="tax_rate">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-2">
                        <label for="inputPassword3" class="control-label">Insurance, $/yr.</label>
                      </div>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="insurance" style="text-align: right;" ng-model="insurance" ng-init="insurance">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-2">
                        <label for="inputPassword3" class="control-label">Flood Insurance, $/yr.</label>
                      </div>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="flood_insurance" style="text-align: right;" ng-model="flood_insurance" ng-init="flood_insurance">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-2">
                        <label for="inputPassword3" class="control-label">HOA, $/month</label>
                      </div>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="hoa" style="text-align: right;" ng-model="hoa" ng-init="hoa">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-2">
                        <label for="inputPassword3" class="control-label">Maintenance, $/month</label>
                      </div>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="maintenance" style="text-align: right;" ng-model="maintenance" ng-init="maintenance">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{{payment = (price | monthly_payment : interest_rate : down_payment : term);""}}
{{monthly_tax = price*(tax_rate)/100/12;""}}
{{monthly_ins = (insurance/12);""}}
{{monthly_flood = (flood_insurance/12);""}}
{{total_payment = (payment + monthly_tax + monthly_flood + monthly_ins + hoa + maintenance)}}
    
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">
                  <strong>Investment</strong>
                </h3>
              </div>
              <div class="panel-body">
                <table class="table">
                  <tbody>
                    <tr>
                      <td>Down Payment</td>
                      <td style="text-align: right;">{{(price*down_payment/100) | currency}}</td>
                    </tr>
                    <tr>
                      <td>Closing Cost</td>
                      <td style="text-align: right;">{{(price*closing_cost/100) | currency}}</td>
                    </tr>
                    <tr>
                      <td ng-init="investment = price*down_payment/100+price*closing_cost/100">
                        <strong>TOTAL</strong>
                      </td>
                      <td style="text-align: right;">{{investment | currency}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">
                  <strong>Monthly Expenses</strong>
                </h3>
              </div>
              <div class="panel-body">
                <table class="table">
                  <tbody>
                    <tr>
                      <td>Payment</td>
                      <td style="text-align: right;">{{payment | currency}}</td>
                    </tr>
                    <tr>
                      <td>Property Tax</td>
                      <td style="text-align: right;">{{monthly_tax | currency}}</td>
                    </tr>
                    <tr>
                      <td>Insurance</td>
                      <td style="text-align: right;">{{monthly_ins | currency}}</td>
                    </tr>
                    <tr>
                      <td>Flood Insurance</td>
                      <td style="text-align: right;">{{monthly_flood | currency}}</td>
                    </tr>
                    <tr>
                      <td>HOA Fee</td>
                      <td style="text-align: right;">{{hoa | currency}}</td>
                    </tr>
                    <tr>
                      <td>Maintenance Fee</td>
                      <td style="text-align: right;">{{maintenance | currency}}</td>
                    </tr>
                    <tr>
                      <td>
                        <strong>TOTAL</strong>
                      </td>
                      <td style="text-align: right;">{{total_payment | currency}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">
                  <strong>Income</strong>
                </h3>
              </div>
              <div class="panel-body">
                <table class="table">
                  <tbody>
                    <tr>
                      <td>Monthly Profit</td>
                      <td style="text-align: right;">{{(rent - total_payment) | currency}}</td>
                    </tr>
                    <tr>
                      <td>Return on Investment (ROI)</td>
                      <td style="text-align: right;">{{((rent - total_payment)*12/investment*100) | number:2}}%</td>
                    </tr>
                    <tr>
                      <td>Capitilization Ratio</td>
                      <td style="text-align: right;">{{((rent - total_payment)*12/price*100) | number:2}}%</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script src="first.js"></script>
</body></html>