<!DOCTYPE html>
<html lang="en-US">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>
<div ng-app="myApp">

<table border="0" cellpadding="1" cellspacing="1" style="width:500px;">
	<tbody>
		<tr>
			<td>Price, $</td>
			<td><input style="text-align: right;" type="number" ng-model="price" ng-init="price = 150000" /></td>
		</tr>
		<tr>
			<td>Rent, $/month</td>
			<td><input style="text-align: right;" ng-model="rent" type="number" ng-init="rent = 1500" /></td>
		</tr>		
		<tr>
			<td>Interest Rate, %</td>
			<td><input style="text-align: right;" ng-model="interest" type="number" ng-init="interest = 4.5" /></td>
		</tr>
		<tr>
			<td>Term, yr.</td>
			<td><input style="text-align: right;" ng-model="term" type="number" ng-init="term = 30" /></td>
		</tr>
		<tr>
			<td>Down Payment, %</td>
			<td><input style="text-align: right;" ng-model="down_payment" type="number" ng-init="down_payment = 20" /></td>
		</tr>
		<tr>
			<td>Closing Cost, %</td>
			<td><input style="text-align: right;" ng-model="closing" type="number" ng-init="closing = 3.5" /></td>
		</tr>
		<tr>
			<td>Tax, %</td>
			<td><input style="text-align: right;" ng-model="tax_rate" type="number" ng-init="tax_rate = 1.2" /></td>
		</tr>
		<tr>
			<td>Insurance, $/yr.</td>
			<td><input style="text-align: right;" ng-model="insurance" type="number" ng-init="insurance = price*0.01" /></td>
		</tr>
		<tr>
			<td>Flood Ins., $/yr.</td>
			<td><input style="text-align: right;" ng-model="flood_ins" type="number" ng-init="flood_ins = 1000" /></td>
		</tr>
		<tr>
			<td>HOA, $/month</td>
			<td><input style="text-align: right;" ng-model="hoa" type="number" ng-init="hoa = 150" /></td>
		</tr>
		<tr>
			<td>Maintenance, $/month</td>
			<td><input style="text-align: right;" ng-model="maintenance" type="number" ng-init="maintenance = 50" /></td>
		</tr>		
	</tbody>
</table>

{{closing_cost = (price*closing/100);""}}
{{investment = (price*down_payment/100 + closing_cost);""}}

{{payment = (price | monthly_payment : interest : down_payment : term);""}}
{{monthly_tax = (price*(tax_rate)/100/12);""}}
{{monthly_flood = (flood_ins/12);""}}
{{monthly_ins = (insurance/12);""}}
{{total_payment = (payment + monthly_tax + monthly_flood + monthly_ins + hoa + maintenance);""}}


<p>{{investment }}</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:300px;">
	<caption><p style="text-align: left;"><strong>Investment</strong></p></caption>
	<tbody>
		<tr>
			<td>Down Payment</td>
			<td style="text-align: right;">{{(price*down_payment/100) | currency}}</td>
		</tr>
		<tr>
			<td>Closing Cost</td>
			<td style="text-align: right;">{{closing_cost  | currency}}</td>
		</tr>
		<tr>
			<td><strong>Total</strong></td>
			<td style="text-align: right;"><strong>{{investment  | currency}}</strong></td>
		</tr>
	</tbody>
</table>

<p></p>

<table border="1" cellpadding="1" cellspacing="1" style="width:300px;">
	<caption><p style="text-align: left;"><strong>Monthly Expenses</strong></p></caption>
	<tbody>
		<tr>
			<td>Payment</td>
			<td style="text-align: right;">{{payment | currency}}</td>
		</tr>
		<tr>
			<td>Property Tax</td>
			<td style="text-align: right;">{{monthly_tax | currency}}</td>
		</tr>
		<tr>
			<td>Insurance</td>
			<td style="text-align: right;">{{monthly_ins | currency}}</td>
		</tr>
		<tr>
			<td>Flood Insurance</td>
			<td style="text-align: right;">{{monthly_flood | currency}}</td>
		</tr>
		<tr>
			<td>HOA Fee</td>
			<td style="text-align: right;">{{hoa | currency}}</td>
		</tr>
		<tr>
			<td>Maintenance Fee</td>
			<td style="text-align: right;">{{maintenance | currency}}</td>
		</tr>
		<tr>
			<td><strong>Total</strong></td>
			<td style="text-align: right;"><strong>{{total_payment | currency}}</strong></td>
		</tr>
	</tbody>
</table>

<p></p>

<table border="1" cellpadding="1" cellspacing="1" style="width:300px;">
	<caption><p style="text-align: left;"><strong>Income</strong></p></caption>
	<tbody>
		<tr>
			<td>Monthly Return</td>
			<td style="text-align: right;">{{(rent - total_payment) | currency}}</td>
		</tr>
		<tr>
			<td>Return on Investment</td>
			<td style="text-align: right;">{{((rent - total_payment)*12/investment*100) | number:2}}%</td>
		</tr>
		<tr>
			<td>Capitalization Ratio</td>
			<td style="text-align: right;">{{((rent - total_payment)*12/price*100) | number:2}}%</td>
		</tr>
	</tbody>
</table>

<p></p>



</div>


<script>
var app = angular.module('myApp', []);
app.filter('monthly_payment', function(){
    return function(loan, interest, down_payment, term){
    var interest = interest/12/100;
    var term = term*12;
    var loan = loan*(100-down_payment)/100;
    var tmp1 = Math.pow(1+interest ,term ); 
    var payment =  (interest *loan *tmp1)/(tmp1-1); 
       
return payment;
    }
})

</script>

</body>
</html>